.banner_deskripsi {
    background-image: url('../img/pls.png');
    background-size: cover;
    background-position: center;
    
}

.kaiju-image {
    width: 100%;
    border-radius: 8px;
    border: 3px solid #ddd;
}

.infobox {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
}

h3 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.cusban {
    background-image: url('../img/pls.png');
    background-size: cover;
    background-position: center;
    
}